body {
    color: #222;
    font-family: 'Cormorant Garamond', serif;
    height: 900px; 
    background: rgb(137,195,34);
    background: linear-gradient(0deg, rgba(137,195,34,1) 0%, rgba(245, 204, 94, 0.747) 50%); 
}

.heading{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 70px; 
    font-size: 44px;
}

#container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px; 
    text-align: center;
    margin: 30px auto; 
    padding: 60px 40px;
    border-radius: 40px;
    background-color: white;
}

#myBtn{
    font-weight: 900;
    font-size: 1em; 
    border-radius: 12px;
    background-color: white; 
    width: 150px;
    padding: 8px 20px; 
    white-space: nowrap;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgba(245, 204, 94, 0.747)
}

#myBtn:hover{
   border-width: 3px;
}

#result {
    border: 1px black solid;
    border-radius: 25px;
    width: 300px;
    height: 100px; 
    text-align: center;
    padding: 20px;
    margin: 40px auto; 
    background-color: white;
}

.octo {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  } 

  .help {
      font-size: 1.5em;
      font-weight: 600;
  }
  

  @media (max-width: 667px){

    #container{
      flex-direction: column;
    }
    img{
      width: 80%; 
    }
    .help{
      font-size: 3em; 
    }
    #result{
      width: 80%; 
      height: auto; 
    }
    #octoDiv{
      width: 100%; 
    }
  
    }


  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


 
