body {
    background-color: #ffe6cc;
    color: #37aab7;
}


#container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

#result {
    /* font-size: 1.5em;
   color: #37aab7; */
    margin-top: 50px;
    border: 1px black solid;
    border-radius: 25px;
    width: 400px;
    height: 100px; 
    text-align: center;
    padding: 20px;
}
